body{
    font-family: 'Times New Roman', Times, serif;
    background:linear-gradient(#04a6eb,skyblue) ;
    color: #fdffff;
    width: 500px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

button{
    font-family: 'Times New Roman', Times, serif;
    padding: 3px 20px;
    background-color: #337ab7;
    border-style: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;/*マウスのカーソルの形が変わる*/
}
input{
    height: 24px;
}

input[type="search"],textarea{/*スマホだとタッチできるスペース広い方がいい。角も丸くする*/
    background-color: white;
    border: 3px solid #d1d1d1;/*枠の太さと色を指定*/
    border-radius: 5px;/*角を丸く削る*/
    box-shadow: none;/*ブラウザの標準だとついているのでいったん消した*/
    box-sizing: border-box;/*余白を内側に指定する。テーブル(罫線のことか)からはみ出ないようにするため*/
    min-height: 1rem;/*最低限の高さを決める*/
    padding: 15px;/*inputテキストの内側に余白を持たせる*/
    width: 100%;/*テーブルの横幅に合わせた余白をつくる*/
    font-size: 16px;
  }

  input[type="search"]::placeholder{
    color: #aaa;
  }

  input[type="search"]:focus, /*テキストを入力する際にカーソルが入力欄に入っている状態のこと*/
  textarea:focus{
    border-color: blue;
    outline: 0;/*ここを0にすることで元々ブラウザの使っていた線を無効にしている。これをやらないと色が全然わからない。*/
  }
  
  input[type="search"]::placeholder{/*入力し始めると「名前を入力してください」が消える*/
    transition: 300ms;
  }
  input[type="search"]:focus::placeholder{  
    transform: translateX(30px);/*300ミリ秒かけてfocusがあたったら、右に動かしつつ透明にする*/
    opacity: 0;/*透明にするよ、というCSS。*/
  }
